apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.0 (40646f47)
   
  labels:
    io.kompose.service: soa-project-meal-planning-ui
  name: soa-project-meal-planning-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: soa-project-meal-planning-ui
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.0 (40646f47)
       
      labels:
        io.kompose.service: soa-project-meal-planning-ui
    spec:
      containers:
        - image: soa-project-meal_planning_ui:latest
          name: soa-project-meal-planning-ui
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          resources: {}
      restartPolicy: Always
status: {}
