version: '3'
services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "8161:8161" # Admin console
      - "61616:61616" # JMS
    volumes:
      - ./data/activemq:/data
      - ./logs/activemq:/var/log/activemq

  inventorymanagement:
    build:
      context: InventoryManagement
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - profile-database

  mealplanningservice:
    build:
      context: MealPlanningService
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    depends_on:
      - activemq

  shoppinglistoptimization:
    build:
      context: ShoppingListOptimization
      dockerfile: Dockerfile
    ports:
      - "8083:8080"
    depends_on:
      - activemq

  user-profile:
    build: UserProfile
    ports:
      - "8088:8080"
    depends_on:
      - profile-database

  jumbopriceservice:
    build:
      context: JumboPrices
      dockerfile: Dockerfile
    ports:
      - "8084:8080"
    depends_on:
      - activemq

  meal-planning-ui:
    build:
      context: meal-planning-ui
    ports:
      - "8085:3000"
    depends_on:
      - user-profile

  profile-database:
    image: mongo:latest
    volumes: 
     - profile-database-mongo:/data/db
    ports:
      - 27017:27017

  recipe-suggestion:
    build:
      context: RecipeSuggestion
      dockerfile: Dockerfile
    ports:
      - "8086:8080"
    depends_on:
      - activemq

volumes:
  profile-database-mongo: