version: '3'
services:
  activemq:
    image: rmohr/activemq:latest
    container_name: activemq
    ports:
      - "8161:8161" # Admin console
      - "61616:61616" # JMS
    volumes:
      - ./data/activemq:/data
      - ./logs/activemq:/var/log/activemq

  inventorymanagement:
    build:
      context: ./InventoryManagement
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    depends_on:
      - activemq

  mealplanningservice:
    build:
      context: ./MealPlanningService
      dockerfile: Dockerfile
    ports:
      - "8082:8080"
    depends_on:
      - activemq

  shoppinglistoptimization:
    build:
      context: ./ShoppingListOptimization
      dockerfile: Dockerfile
    ports:
      - "8083:8080"
    depends_on:
      - activemq

  user_profile:
    build: ./UserProfile
    ports:
      - "8088:8080"

  jumbopriceservice:
    build:
      context: ./JumboPrices
      dockerfile: Dockerfile
    ports:
      - "8084:8080"
    depends_on:
      - activemq

  meal_planning_ui:
    build:
      context: ./meal-planning-ui
    ports:
      - "8085:3000"
    depends_on:
      - user_profile